@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.battleship-field {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr;
  border: 4px solid burlywood;
}

.ship-selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
}

.ship-selection__up {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
}

.ship-selection__down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-left: 4px solid burlywood;
}

.board-player {
  display: flex;
  flex-direction: column;
  width: 401px;
  height: 401px;
  border: 2px solid blue;
  margin: 20px;
}

.board-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 40px;
}

.board-enemy {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  width: 401px;
  height: 401px;
  border: 2px solid red;
  margin: 20px;
}

.board-cell {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
}

.battle-wagon-ver {
  width: 40px;
  height: 160px;
  border: 2px solid black;
}

.battle-wagon-hor {
  width: 160px;
  height: 40px;
  border: 2px solid black;
}

.battle-caser-ver {
  width: 40px;
  height: 120px;
  border: 2px solid black;
}

.battle-caser-hor {
  width: 120px;
  height: 40px;
  border: 2px solid black;
}

.battle-destroyer-ver {
  width: 40px;
  height: 80px;
  border: 2px solid black;
}

.battle-destroyer-hor {
  width: 80px;
  height: 40px;
  border: 2px solid black;
}

.battle-boat {
  width: 40px;
  height: 40px;
  border: 2px solid black;
}

/* .battle-wagon__deck {
  border: 1px solid black;
  height: 25%;
}

.battle-caser__deck {
  border: 1px solid black;
  height: 33.33%;
}

.battle-destroyer__deck {
  border: 1px solid black;
  height: 50%;
}

.battle-boat__deck {
  border: 1px solid black;
  height: 100%;
} */

.block-field {
  background-color: rgb(196, 192, 192);
  z-index: -10;
}

.start-button {
  margin-top: 400px;
  margin-left: 90px;
  padding: 20px;
  width: 200px;
}
